<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.lxl.pdc.mapper.CategoryMapper">

    <!--<resultMap id="ManagerMap" type="io.github.lxl.pdc.entity.Manager">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
    </resultMap>-->

    <!--增加产品品类-->
    <insert id="saveCategory" parameterType="io.github.lxl.pdc.entity.Category" useGeneratedKeys="true" keyProperty="id">
        insert into
        category(creatorId,lastUpdatorId,categoryName,createTime, lastUpdateTime,parentId,level)
      values (#{creatorId},#{lastUpdatorId},#{categoryName},#{createTime,jdbcType=DATE},#{updateTime,jdbcType=DATE},#{parentId},#{level})
    </insert>
    <!--查询Category-->
    <select id="queryCategory" resultType="io.github.lxl.pdc.entity.Category">
        select * from category where id = #{id} and 'delete' is false
    </select>

   <!-- update-->
    <update id="updateCategory" parameterType="io.github.lxl.pdc.entity.Category">
        update category set categoryName =#{lastUpdatorId},
    </update>

    <!--delete-->
    <update id="deleteCategory">
        update category set delete= true
    </update>

    <select id="categoryList" resultType="">
        select  * from  category
    </select>

</mapper>